.login-component {
    margin: 0 auto;
    background: #d3d3d3;
    width: 400px;
    padding: 40px;
    border-radius: 5px;
}

.button {
    position: absolute;
    background: #bebebe;
    margin-left: 15vh;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover {
    background-color: #a9a9a9;
    /* color: #bebebe; */
}

.traceimg {
    border-radius: 15px;
}